In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('outputs/pollution_city_comparison.csv', index=False)

TypeError: parser_f() got an unexpected keyword argument 'index'

In [3]:
df

,Unnamed: 0,city,high,low,measurement,midnight,pollutant,site,year
0,0,London,18.303353,20.640991,µg/m3,21.821169,PM10,Station_GB0620A,2016.0
1,1,London,20.652493,17.510204,µg/m3,20.070349,PM10,Station_GB0636A,2016.0
2,2,London,26.618444,21.602564,µg/m3,25.170857,PM10,Station_GB0682A,2016.0
3,3,London,NaN,NaN,µg/m3,14.319246,PM10,Station_GB0620A,2016.0
4,4,London,NaN,NaN,µg/m3,25.427636,PM10,Station_GB0682A,2016.0
...,...,...,...,...,...,...,...,...,...
987,987,Frankfurt%20am%20Main,NaN,NaN,µg/m3,46.363507,NO2,STA.DE_DEHE140,2018.0
988,988,Frankfurt%20am%20Main,NaN,NaN,µg/m3,32.906277,NO2,STA.DE_DEHE141,2018.0
989,989,Frankfurt%20am%20Main,NaN,NaN,µg/m3,NaN,NO2,STA.DE_DEHE144,2018.0
990,990,Frankfurt%20am%20Main,NaN,NaN,µg/m3,28.923761,NO2,STA.DE_DEHE145,2018.0
991,991,Frankfurt%20am%20Main,NaN,NaN,µg/m3,54.101119,NO2,STA.DE_DEHE146,2018.0

In [7]:
city_avg = df.groupby(['city', 'measurement', 'pollutant'], as_index=False).mean()
city_avg

,city,measurement,pollutant,Unnamed: 0,high,low,midnight,year
0,Amsterdam,ugNO2/m3,NOX as NO2,301.0,54.857200,36.173966,45.014085,2017.000000
1,Amsterdam,µg/m3,NO2,334.0,31.412903,24.799362,29.200753,2017.000000
2,Amsterdam,µg/m3,PM10,255.5,19.473010,20.340334,21.426098,2016.954545
3,Amsterdam,µg/m3,PM2.5,275.5,11.447551,13.098613,13.666020,2017.000000
4,Berlin,µg/m3,NO2,901.0,40.704499,22.911607,31.993067,2017.389831
5,Berlin,µg/m3,NOX as NO2,853.5,82.448950,33.773521,41.727900,2017.000000
6,Berlin,µg/m3,PM10,807.0,23.262291,23.144003,24.728285,2017.000000
7,Berlin,µg/m3,PM2.5,828.0,NaN,NaN,15.519220,2017.000000
8,Frankfurt%20am%20Main,µg/m3,NO2,982.0,40.698228,28.529028,36.483343,2017.421053
9,Frankfurt%20am%20Main,µg/m3,NOX as NO2,967.0,75.597695,46.390475,53.740869,2017.090909
10,Frankfurt%20am%20Main,µg/m3,PM10,942.0,17.053376,20.779641,19.701428,2017.043478
11,Frankfurt%20am%20Main,µg/m3,PM2.5,957.5,10.853090,13.717038,13.463533,2017.125000
12,Greater%20Manchester,µg/m3,NO2,167.5,28.384614,20.073663,24.493084,2017.000000
13,Greater%20Manchester,µg/m3,NOX as NO2,149.5,50.718639,31.026286,41.685383,2017.000000
14,Greater%20Manchester,µg/m3,PM10,128.5,15.686361,15.077422,16.517003,2017.000000
15,Greater%20Manchester,µg/m3,PM2.5,136.0,9.795743,10.258380,11.341591,2017.000000
16,Krak%C3%B3w,µg/m3,NO2,238.5,50.756312,27.263962,33.992995,2017.000000
17,Krak%C3%B3w,µg/m3,NOX as NO2,227.0,128.386282,60.978931,80.683118,2017.090909
18,Krak%C3%B3w,µg/m3,PM10,193.0,40.520095,45.638425,46.291538,2017.030303
19,Krak%C3%B3w,µg/m3,PM2.5,215.5,26.272781,37.281723,37.953537,2017.000000
20,London,µg/m3,NO2,107.0,45.935899,31.180333,39.763386,2016.972973
21,London,µg/m3,NOX as NO2,70.0,101.353818,55.599050,76.668327,2016.972973
22,London,µg/m3,PM10,9.5,20.925451,18.711830,21.069245,2016.850000
23,London,µg/m3,PM2.5,35.5,11.255257,12.280227,12.701492,2016.937500
24,Madrid,µg/m3,NO2,757.5,33.824674,27.554158,38.542921,2017.000000
25,Madrid,µg/m3,NOX as NO2,692.5,74.489017,40.217656,54.468016,2016.879310
26,Madrid,µg/m3,PM10,617.0,19.675668,14.852176,18.119513,2017.027027
27,Madrid,µg/m3,PM2.5,649.5,10.368746,8.376185,10.939398,2017.035714
28,Milano,µg/m3,NO2,413.0,48.741231,39.998166,47.688108,2016.957447
29,Milano,µg/m3,PM10,363.0,31.582859,31.582859,34.562592,2017.040000
30,Milano,µg/m3,PM2.5,382.5,21.654034,21.648168,25.168454,2017.071429
31,Paris,µg/m3,NO2,557.5,46.918284,30.502734,38.996412,2016.987805
32,Paris,µg/m3,PM10,464.5,24.469258,21.012234,22.441774,2017.285714
33,Paris,µg/m3,PM2.5,504.5,12.921703,13.687948,13.959576,2017.500000

In [11]:
city_pivot = city_avg.pivot(index='city', columns='pollutant', values=['high', 'low', 'midnight'])
city_pivot.columns = ['_'.join(col) for col in city_pivot.columns.values]
city_pivot.to_csv('data/CSV/city_pollutants.csv')